* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    min-height: 100vh;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 10px;
    box-shadow: -5px 10px 100px hsl(226, 22%, 73%);
}

.main-illustration {
    display: flex;
    justify-content: center;
}

.promo-text {
    text-align: center;
    width: 64%;
    margin: 5% 17.5%;
}

h1 {
    font-size: 1.4rem;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin-bottom: 10px;
}
p {
    font-size: 15px;
    color: hsla(222, 19%, 73%);
    font-weight: 900;
}

.price-plan-box {
    background-color: hsl(225, 100%, 98%);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
    margin: 5% 10%;
    border-radius: 10px;
}

.cost-container {
    width: 50%;
}

h2 {
    font-size: .8rem;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.change-btn {
    font-size: 15px;
    color: hsl(245, 75%, 52%);
    font-weight: 900;
}

.change-btn:hover {
    text-decoration: none;
}

.payment-btn {
    text-decoration: none;
    display: block;
    color: white;
    background-color: hsl(245, 75%, 52%);
    width: 80%;
    border-radius: 8px;
    padding: 3% 4%;
    margin: 0% 10%;
    font-size: 15px;
    margin-bottom: 10px;
}

.payment-btn:hover {
    background-color: hsl(223, 47%, 23%);
    transition: color .3s ease;
}

.cancel-btn {
    text-decoration: none;
    display: block;
    color: hsl(224, 23%, 55%);
    width: 80%;
    border-radius: 8px;
    padding: 3% 4%;
    margin: 0% 10%;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

.cancel-btn:hover {
    color: hsl(223, 47%, 23%);
    font-weight: bold;
}
@media only screen and (max-height: 800px){
    .attribution {
        display: none;
    }
}
@media only screen and (max-width: 425px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
        background-size: auto 400px;
    }
    #container {
        max-width: 325px;
    }   
    .promo-text {
        width: 68%;
        margin: 5% 18%;
        font-size: 14px;
    }
    .price-plan-box {
        width: 80%;
        margin: 5% 10.5%;
        border-radius: 10px;
        font-size: 14px;
    }
    h1 {
        font-size: 1.3rem;
    }
    p {
        font-size: 14px;
    }
    .payment-btn {
        width: 80%;
        margin: 0% 10.5%;
        font-size: 16px;
    }
    .cancel-btn {
        width: 80%;
        margin: 0% 10.5%;
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    #container {
        max-width: 280px;
    }   
    h1 {
        font-size: 1.1rem;
    }
    p {
        font-size: 12px;
    }
    h2 {
        font-size: .7rem;
    }
    .change-btn {
        font-size: 13px;
    }
    .payment-btn, .cancel-btn{
        font-size: 13px;
    }
}

.attribution { 
    font-size: 11px; 
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}